.column {
    flex: 1;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column-center {
    flex: 2;
    position: relative;

}

@media (max-width: 768px) {

    .column {
        width: 100%;
        /* Make columns 100% width on smaller screens */
    }

    .column-center {
        width: 100%;
    }
}